/* SortFilter.css */
.header{
    width: 100%;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ddd;
    position: relative;
} 
.btn {
    background-color: #fff;
    color: black;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

.sort-filter {
    position: absolute;
    top: 45px;
    left:20px;
    width:200px;
    display: flex;
    flex-direction: column;
    background-color: #f2f6f6;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    gap: 10px;
    font-size: 14px;
    color:#676666;
  }

 .filter-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 
  
 select{
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 80px;
 }

 select:focus{
    outline: none;
    border: 2px solid #a8a6a6;
 }

 option{
    color: #676666;
 }
  
  
  